<a href="https://colab.research.google.com/github/vananthi/Python-Data-Types/blob/main/Type_conversion_part_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**#type conversion part 3 : data type conversion**

In [34]:
a = 'apple'

In [30]:
type(a)

str

In [31]:
int(a)  # 1. string to int type conversion is not possible

ValueError: ignored

In [32]:
float(a)   # 2. string to float type conversion is not possible

ValueError: ignored

In [35]:
bool(a)  # 3.string to bool type conversion possible

True

In [36]:
complex(a) # 4. string to complex type conversion not possible

ValueError: ignored

In [37]:
# get input in python

a = 'Hello!'  # value declaration
b = 'world'
c = a + b

In [38]:
# display the object
print(c)

Hello!world

In [39]:
# call the object / reference an object
c

'Hello!world'

In [40]:
a = int(input("enter a value:"))
b = float(input("b enna sollu :"))
name = str(input("enter name:"))
c = a+ b
print(c,name)

enter a value:34
b enna sollu :67
enter name:ananthi
101.0 ananthi