<a href="https://colab.research.google.com/github/vananthi/Python-Data-Types/blob/main/Type_conversion_part_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**#type conversion part 2 : data type conversion**

In [17]:
a = 10.1

In [18]:
type(a)

float

In [20]:
int(a)  # 1. float to int type conversion is possible

10

In [21]:
str(a)   # 2. float to str type conversion is possible

'10.1'

In [22]:
bool(a)  # 3.float to bool type conversion possible

True

In [23]:
complex(a) # 4. float to complex type conversion possible

(10.1+0j)

In [25]:
# get input in python

a = 515.31725  # value declaration
b = 758.75868
c = a + b

In [26]:
# display the object
print(c)

1274.07593

In [27]:
# call the object / reference an object
c

1274.07593

In [28]:
a = int(input("enter a value:"))
b = float(input("b enna sollu :"))
name = str(input("enter name:"))
c = a+ b
print(c,name)

enter a value:45
b enna sollu :67
enter name:ananthi
112.0 ananthi